@import "tailwindcss";
@import "@nuxt/ui";


@theme static {
  --font-sans: 'Public Sans', sans-serif;
  --font-serif: 'Instrument Serif', serif;
  --font-roboto: 'Roboto', serif;
}

:root {
  --ui-container: var(--container-7xl);

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}

.transition-clr {
  @apply transition-colors duration-300
}
